<style type="text/css" media="screen">
 
  <!--
 
  body {
  background: #c0c0c0;
  margin:50px 0;
  padding:0;
  text-align:center;
  }
 
 
 
  .primary{
  position:relative;
  width:700px;
  height:700px;
  background: #fff;
  border: 1px solid #000;
  font: 10px verdana, sans-serif;
  padding: 10px;
  text-align: left;
  }
 
  .primary table {
  position:relative;
  border: 1px solid rgba(255, 0, 0, .5)
  margin:50px 50px;
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  }
 
  .primary td {
  width: 20%;
  height: 20%;
  padding: 0;
  text-align: center;
  vertical-align:middle;
  font: 10px verdana, sans-serif;
  border: 1px solid #000;
  font-weight: bold;
 

  }
 
 
 
  .reload button{
 background: #0080c0;
  }
 
 
 
  .primary button {
    width: 100%;
    height:100%;
  border: none!important;
font:  12px verdana, sans-serif;
 text-align: center;
  font-weight: bold;
   text-transform: capitalize;
  }




-->
 
</style>
 